<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./static/css/menu_buttons.css">
</head>

<body>
    <a href="/main" class="menu_btn">Outside Data</a>
    <a href="/rooms" class="menu_btn">Rooms</a>
    <a href="/electrical" class="menu_btn">Electrical</a>
    <a href="/system_status" class="menu_btn">System Status</a>
    <a href="/camera" class="menu_btn">Camera</a>
    <br>
    <br>
    <div>
        <embed src="http://frydek.no-ip.org:9081/" style="width:700px; height: 500px;">
    </div>
    
</body>

